.reading-editor-controls {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background: white;
	border-bottom: 1px solid var(--border-grey-light);
}

.control {
	flex: 1 1 auto;
	max-width: 25%;
	padding: 0.5rem 0.625rem 0.625rem 1rem;
	box-shadow: inset -1px 0 0 0 var(--border-grey-light), -1px 0 0 0 var(--border-grey-light);

	&.disabled {
		pointer-events: none;
		opacity: 0.4;
	}

	&:first-child {
		padding-left: var(--side-padding, 1rem);
		box-shadow: none;
	}
}
