.sidebar {
	background: var(--panel-background);
}

.header {
	display: flex;
	flex-direction: row;

	& .tab {
		flex: 0 1 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		box-shadow: inset 0 0 0 1px var(--border-grey-light);
		font-size: 0.625rem;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--primary-grey);
		height: 50px;

		&.active {
			box-shadow: none;
		}
	}
}

.custom-blocks {
	list-style: none;
	padding: 1rem 0.5rem;
	margin: 0;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;

	& li:nth-child(odd) {
		grid-column: 1 / 1;
	}

	& li:nth-child(even) {
		grid-column: 2 / 2;
	}
}
