.block-type-button {
	position: relative;
	overflow: hidden;
	transition: transform 250ms;
	padding: 5px 0;
	cursor: pointer;

	&:global(.disabled) {
		opacity: 0.5;
		pointer-events: none;
	}

	&.mousedown {
		transform: scale(0.9);
	}

	& .label {
		color: var(--secondary-grey);
		text-transform: uppercase;
		font-family: var(--body-font-family);
		font-size: 0.625rem;
		font-weight: bold;
		line-height: 1.4;
		display: block;
		text-align: center;
	}

	& .icon {
		display: block;
		height: 50px;
		width: auto;
		margin: 0 auto;
		pointer-events: none;
	}
}
