.iframe-embed {
	background: #292929;
	position: relative;
	padding-bottom: 56.25%;

	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

.blank-iframe {
	font-size: 2.25rem;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1.3;
	max-width: 450px;
	margin: 0 auto;
	height: 100%;
}
